body {
    padding: 10px;
}


video::-webkit-media-controls-fullscreen-button { display: none; }

#menu {
    width: fit-content;
    margin: 10px auto;
    padding: 15px 20px;
    border: 2px dashed #39C5BB80;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#configs {
    display: flex;
    justify-content:space-around;
    flex-direction: column-reverse;
    width: 640px;
    height: 350px;
    box-sizing: border-box;
    padding: 20px;
    position: fixed; 
    border-radius: 10px;
    background-color: white;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

#configs-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

#configEditor,#highlighting,#highlighting-content {
    position: absolute;
    width: 600px;
    height: 250px;
    margin:0;
    padding: 5px;
    font-size: 18px;
    font-family: "黑体";
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    outline: none;
}

#configEditor{
    color:transparent;
    caret-color: #39c5bccc;
    border: 2px dashed #ffffff00;
}

#highlighting {
    padding: 0px;
}

#highlighting-content, #highlighting {
    background: none;
    pointer-events: none;
}

#highlighting-content {
    border: 2px dashed #39C5BB80;
}


b { color:#39c5bccc; }

input[type=text] {
    color: #39C5BBC0;
    padding: 8px 10px;
    border-radius: 8px;
    border:none;
    outline: none;
    background-color: #efefef;
}

input[type=file] {
    width: 1px;
    opacity: 0;
}

input:focus {
    outline: none;
    border: none;
}

#video-url { width: 400px; }
#video-offset { width: 100px; }

input#danmu-switch {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-image: url("../icons/弹幕关闭.svg");
    background-size: 100% 100%;
}

input#danmu-switch:checked {
    background-image: url("../icons/弹幕开启.svg")
}

button,div.button {
    display: inline;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    color: #3F4B3BC0;
    font-weight: bold;
    background-color: #39C5BB80;
    cursor: pointer;
}

img#fullscreen{
    width: 24px;
    cursor: pointer;
}

img#settings{
    width: 30px;
    cursor: pointer;
}

#videoContainer {
    margin: 20px auto;
    position: relative;
    width: 1000px;
    aspect-ratio: 16/9;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#danmuCanvas {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    pointer-events: none;
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
}

.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.right {
    top: 15%;
    right: -5px;
    height: 70%;
    cursor: ew-resize;
}